@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Creato Display";
    src: url("../public/fonts/CreateDisplay/CreatoDisplay-Bold.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

body{
    background-color: black;
}